.App {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 0; */
}

.app-block {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.app-block.app-preview {
    left: 50%;
}

.app-block-container {
    height: 100%;
}