/* position: fixed;
    top: 0;
    bottom: 0;
    left: 0; */
#root > header {
    background-color: #fff;
}


#root > header nav  {
    display: inline-block;
}

#root > header h1 {
    margin: 0;
    display: inline-block;
    background-color: #2a2a2a;
    line-height: 1em;
    text-align: right;
    font-weight: 200;
    color: #fff;
}

#root > header h1 strong {
    display: block;
}

#root > header li {
    padding-left: 10px;
    padding-bottom: 10px;
}

#root > header li:first-of-type {
    padding-top: 10px;
}

#root > header a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
    text-align: right;
    color: #333;
}